.form-submit-button{
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    height: 30px;
    width: 80px;
}

.form-submit-button:hover{
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
}

.content-area{
    background-color: #eee;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 70px;
    max-width: 100px;
}

