{%extends "layout.html"%}

{%block head%}
{{super()}}
{%endblock%}


{%block navbar%}
{{super()}}
{%endblock navbar%}

{%block content%}
{{super()}}
<br>
<div>
    <form action="/" method="POST">
        <textarea style="border-radius: 20px;" class="form-control" placeholder="What's on your mind" rows="1" ,
            name="post"></textarea>
        <button class="form-submit-button" type="submit">Post</button>
        <button class="form-submit-button" type="submit">Detect</button>
    </form>

    <br>

    {%for post in posts%}
    <article class="media content-section">
        <img class="rounded-circle article-img"
            src="{{url_for('static', filename = 'images/profile_pics/' + post.author.image_file)}}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{post.author.username}}</a>
                <small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d')}}</small>
            </div>
        </div>

        <div>
            <h6 class="article-content">{{post.content}}</h6>
            <small><a href="{{url_for('post', post_id = post.id)}}">Edit</a></small>
        </div>
    </article>
    {%endfor%}
</div>
</div>
{%endblock content%}