{% extends "bootstrap/base.html" %}

{% block head %}

{% block styles%}
{{super()}}
<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
{% endblock%}

<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock%}


{%block body%}

{%block navbar%}
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="../static/images/logo4.png" width="100px"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
</div>
{%endblock%}

<section>
    <div class="container">

        <div class="row">

            <div class="col-xs-2">

            </div>

            <div class="col-xs-6">

                <form action="/">
                    <textarea class="form-control" placeholder="What's on your mind" rows="1" id="tweet-section" ,
                        name="post"></textarea>
                    <button class="form-submit-button btn-primary" type="submit">Post</button>
                </form>

                {%if prediction%}
                <h3>prediction</h3>
                {%endif%}

            </div>

            <div class="col-xs-4">
                <br>
            </div>
        </div>
    </div>
</section>
{%endblock%}