<!DOCTYPE html>
<html lang="en">
{% extends "bootstrap/base.html" %} {% block content %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

    <body class="bg-success">
        <div class="container text-center">
            <section>
                <h1 style="text-align: center">Sentiment Analysis Web Application</h1>
            </section>

            <form class="form-group row" action="/" method="POST">
                <div class="col-xs-8 col-xs-offset-2">
                    <input type="text" class="form-control inputfield" id="Text" placeholder="Text" name="Text">
                </div>
                <button type="submit" class="btn btn-success ">Input Text</button>
            </form>
        </div>
</head>
</body>

</html>
{% endblock %}